{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% block title %}{{ 'general.administration'|trans}}{% endblock %}
{% block body %}
    <h1>{{ 'general.admin-welcome-message'|trans }}</h1>
    <div class="section">
        <h3>{{ 'general.homepage-slideshow'|trans }}</h3>
        {% if slideshow is defined and slideshow is not null %}
            <a  class="btn btn-default" href="{{ path('gallery_addimages', {'gal_id' : slideshow.id}) }}">{{ 'gallery.addimages'|trans}} <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            {% if slideshow.pictures|length %}
                <a  class="btn btn-default" href="{{ path('gallery_editimages', {'gal_id' : slideshow.id}) }}">{{ 'gallery.editimages'|trans}} <span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
                <a  class="btn btn-default" href="{{ path('gallery_cropimages', {'gal_id' : slideshow.id}) }}">{{ 'gallery.cropimages'|trans}} <span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a>
            {% endif %}
        {% else %}
            <a  class="btn btn-primary" href="{{ path('gallery_new', {'param' : 'homeslide'}) }}">{{ 'general.create_slideshow'|trans}} <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        {% endif %}
    </div>
{% endblock %}
