{% trans_default_domain 'App' %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'website.title'|trans }}{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block header %}
        <header>
            <div data-sticky-container>
                <div class="top-bar">
                    <div class="column row">
                        <div class="top-bar-title">
                            Zinnechœur
                        </div>
                        <nav class="main-nav top-bar-left">
                            <ul class="menu">
                                <li><a href="#">Agenda</a></li>
                                <li><a href="#">Répertoires</a></li>
                                <li><a href="#">Membres</a></li>
                                <li><a href="#">Photos</a></li>
                                <li><a href="#">Vidéos</a></li>
                                <li><a href="#">Nous (re)joindre</a></li>
                            </ul>
                        </nav>
                        <div class="social-networks top-bar-right">
                            <ul class="menu">
                                <li><a href="#" class="facebook">Facebook</a></li>
                                <li><a href="#" class="youtube">Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        <main>
            {% block body %}{% endblock %}
        </main>
        {% block footer %}
        <footer>
            
        </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="{{ asset('js/zinne.js') }}"></script>
        {% endblock %}
    </body>
</html>