{% trans_default_domain 'Front' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ 'website.agenda'|trans }}{% endblock %}
{% block opengraph %}
<meta property="og:title" content="{{ 'website.agenda'|trans }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ absolute_url(path('agenda')) }}" />
<meta property="og:image" content="{{ absolute_url(asset('images/og-default.jpg')) }}" />
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('foundation-icons/foundation-icons.css') }}"/>
    <link rel="profile" href="http://microformats.org/profile/hcalendar"/>
{% endblock %}
{% block body %}
    <div class="column row agenda">
        <h1>{{ 'website.agenda'|trans }}</h1>
        <div class="column row">
            {% if events is defined and events|length %}
            <h2>{{ 'website.nextevents'|trans }}</h2>
            {% endif %}
            {% set summary = 1 %}
            {% for event in events %}
                {{ include('default/eventDetail.html.twig') }}
            {% endfor %}
        </div>
        <div class="column row">
            <h2>{{ 'website.pastevents'|trans }}</h2>
            {% set curseason = null %}
            {% for pastevent in pastevents %}
                {% if curseason != pastevent.season %}
                <h3>{{ 'website.season'|trans }} {{ pastevent.season }}</h3>
                {% endif %}
                <div class="pastevent clearfix">
                    <h4><span class="date float-left">{{ pastevent.date|date('d/m/Y') }}</span>
                    <a class="event-name" href="{{ path('event', {'slug': pastevent.slug}) }}">{{ pastevent.name }}</a></h4>
                </div>
                {% set curseason = pastevent.season %}
            {% endfor %}
        </div>
    </div>
{% endblock %}