{% trans_default_domain 'App' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ event.name }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
    {% if gallery is defined and gallery is not null %}
    <link rel="stylesheet" href="{{ asset('css/fresco/fresco.css') }}"/>
    {% endif %}
{% endblock %}
{% block body %}
<div class="event">
    <div class="column row">
        {{ include('default/eventDetail.html.twig') }}
    </div>
    {% if gallery is defined and gallery is not null %}
    <div class="column row">
        <h2>{{ 'website.eventpictures'|trans }}</h2>
        <div class="row">
        {% for i in 0..4 %}
            {% if gallery.pictures[i] is defined %}
            {% set image = gallery.pictures[i] %}
            <div class="event-images small-4 medium-2 columns end">
                <a href="{{ asset('uploads/images/'~image.path) }}" class="fresco"{% if image.title is not empty %} data-fresco-caption="{{ image.title }}"{% endif %} data-fresco-group="current-gallery">{{ styled_image(image, 'project_thumb') }}</a>
            </div>
            {% endif %}
        {% endfor %}
        {% if gallery.pictures[5] is defined %}
            <div class="event-images all-images-link small-4 medium-2 columns end">
                <a href="{{ path('gallery', {'slug': gallery.slug}) }}"><img src="{{ asset('images/empty-square.png') }}" alt="" /><span class="caption">{{ 'website.viewmore'|trans }}</span></a>
            </div>
        {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/zinne.js') }}"></script>
    {% if gallery is defined and gallery is not null %}
    <script src="{{ asset('js/fresco/fresco.js') }}"></script>
    {% endif %}
{% endblock %}
