{% trans_default_domain 'App' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ event.name }}{% endblock %}
{% block body %}
    <div class="column row">
        <h1>{{ event.name }}</h1>
        <div class="medium-6 large-3 columns">
            <div class="date">{{ event.date|date('d-m-Y') }}</div>
            {% if event.picture is defined and event.picture is not null %}
                {{ styled_image(event.picture, 'project_full') }}
            {% endif %}
        </div>
        <div class="medium-6 large-9 columns">{{ event.description|raw }}</div>
    </div>
{% endblock %}
