{% trans_default_domain 'Front' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ event.name }}{% endblock %}
{% block description %}{{ event.description|striptags|truncate(150, true) }}{% endblock %}
{% block opengraph %}
<meta property="og:title" content="{{ event.name }}" />
<meta property="og:description" content="{{ event.description|striptags|truncate(150, true) }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ absolute_url(path('event', {'slug' : event.slug})) }}" />
{% if event.picture is defined and event.picture is not null %}
<meta property="og:image" content="{{ absolute_url(asset(styled_image_url(event.picture , 'project_full'))) }}" />
{% else %}
<meta property="og:image" content="{{ absolute_url(asset('images/og-default.jpg')) }}" />
{% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
    {% if gallery is defined and gallery is not null %}
    <link rel="stylesheet" href="{{ asset('css/fresco/fresco.css') }}"/>
    {% endif %}
    <link rel="profile" href="http://microformats.org/profile/hcalendar"/>
{% endblock %}
{% block body %}
<div class="event">
    <div class="column row">
        {{ include('default/eventDetail.html.twig') }}
    </div>
    {% if gallery is defined and gallery is not null %}
    <div class="column row">
        <h2>{{ 'website.eventpictures'|trans }}</h2>
        <div class="row">
        {% for i in 0..4 %}
            {% if gallery.pictures[i] is defined %}
            {% set image = gallery.pictures[i] %}
            <div class="event-images small-4 medium-2 columns end">
                <a href="{{ asset('uploads/images/'~image.path) }}" class="fresco"{% if image.title is not empty %} data-fresco-caption="{{ image.title }}"{% endif %} data-fresco-group="current-gallery">{{ styled_image(image, 'project_thumb') }}</a>
            </div>
            {% endif %}
        {% endfor %}
        {% if gallery.pictures[5] is defined %}
            <div class="event-images all-images-link small-4 medium-2 columns end">
                <a href="{{ path('gallery', {'slug': gallery.slug}) }}"><img src="{{ asset('images/empty-square.png') }}" alt="" /><span class="caption">{{ 'website.viewmore'|trans }}</span></a>
            </div>
        {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/zinne.js') }}"></script>
    {% if gallery is defined and gallery is not null %}
    <script src="{{ asset('js/fresco/fresco.js') }}"></script>
    {% endif %}
{% endblock %}
