{% trans_default_domain 'Front' %}
{% extends 'base.html.twig' %}
{% block opengraph %}
    <meta property="og:title" content="{{ 'website.title'|trans }}" />
    <meta name="og:description" content="{{ 'website.description'|trans }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ absolute_url(path('homepage')) }}" />
    {% if slideshow.pictures is defined and slideshow.pictures|length %}
    <meta property="og:image" content="{{ absolute_url(asset(styled_image_url(slideshow.pictures[0] , 'slideshow'))) }}" />
    {% endif %}
{% endblock %}
{% block body %}
    <section class="main-hp text-center">
        {% if parameters.get('popup_is_activated') %}
        {% set blockname = parameters.get('popup_block_name') %}
        {{ text_block(blockname) }}
        {% endif %}
        <div class="main-hp-content centercontent">
            <nav class="main-hp-menu menu-centered hide-for-small-only hide-for-medium-only nowrap">
                {{ knp_menu_render('main',{'currentClass' : 'active'}) }}
                <ul class="menu social-networks">
                    <li><a href="https://www.facebook.com/Zinnechoeur" target="_blank" class="facebook fi-social-facebook" title="Facebook"></a></li>
                    <li><a href="https://www.instagram.com/zinne.choeur/" target="_blank" class="instagram fi-social-instagram" title="Instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC_tp-m7g0eqs0IwxhA1k9mA" target="_blank" class="youtube fi-social-youtube" title="Youtube"></a></li>
                </ul>
            </nav>
                
            <div class="main-logo">
                    <img src="{{ asset('images/main-hp-logo.png') }}" alt="Logo Zinnechœur" />
            </div>
            <div>
                <h1 class="main-hp-slogan">{{ 'website.slogan'|trans }}</h1>
            </div>
        </div>
        <div class="main-hp-scroll-link">
            <a href="#presentation" class="scrollLink">{{ 'website.discoverthechoir'|trans }}<span class="fi-arrow-down"></span></a>
        </div>
    </section>
    <section class="presentation">
        <a id="presentation"></a>
        <div id="menu-trigger"></div>
        {% if slideshow.pictures is defined and slideshow.pictures|length %}
        <div class="orbit" role="region" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" data-timer-delay="3000" data-pause-on-hover="false">
            <ul class="orbit-container">
                {% for image in slideshow.pictures %}
                <li class="is-active orbit-slide">
                    <figure class="orbit-figure">
                        {{ class_styled_image(image, 'slideshow', 'orbit-image') }}
                    </figure>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="column row presentation-content hpcontent">
            <h2 class="text-center">{{ 'website.hp-presentation-title'|trans }}</h2>
            {{ text_block('homepage_presentation_text') }}
            <p class="text-center">
                <a href="{{ path('membres') }}" class="button large">{{ 'website.homebtn.choristes'|trans }}</a>
            </p>
        </div>
    </section>
    <section class="repertoire">
        <a id="repertoire"></a>
        <div class="column row hpcontent">
            <h2 class="text-center">{{ 'website.hp-repertoire-title'|trans }}</h2>
            {{ text_block('homepage_repertoire_description') }}
            <p class="text-center">
                <a href="{{ path('repertoire') }}" class="button large">{{ 'website.homebtn.repertoire'|trans }}</a>
            </p>
        </div>
    </section>
    <section class="medias">
        <a id="medias"></a>
        <div class="column row hpcontent">
            <h2 class="text-center">{{ 'website.hp-images-title'|trans }}</h2>
            <div class="medium-6 columns hp-videos">
                {% if video is not null %}
                {{ embed_video(video) }}
                {% endif %}
                {{ text_block('homepage_video_description') }}
            </div>
            <div class="medium-6 columns hp-photos">
                {% if pictures|length %}
                <div class="imagezone">
                <div class="galleryfront">
                <img class="imageframe" src="{{ asset('images/gallery-frame.png') }}" alt="" />
                <div class="orbit" role="region" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" data-timer-delay="3000" data-pause-on-hover="false">
                    <ul class="orbit-container">
                        {% for picture in pictures %}
                        <li class="is-active orbit-slide">
                            <figure class="orbit-figure">
                                {{ class_styled_image(picture, 'project_thumb', 'orbit-image galleryfront') }}
                            </figure>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
                </div>
                {% endif %}
                {{ text_block('homepage_images_description') }}
            </div>
        </div>
    </section>
    <section class="contact">
        <a id="contact"></a>
        <div class="column row hpcontent">
            <h2 class="text-center">{{ 'website.hp-contact-title'|trans }}</h2>
            {{ text_block('homepage_contact_text') }}
            <p class="text-center medium-6 column">
                <a href="{{ path('contact') }}" class="button large">{{ 'website.homebtn.contact'|trans }}</a>
            </p>
            <p class="text-center medium-6 column">
                <a href="{{ path('joinus') }}" class="button large">{{ 'website.homebtn.joinus'|trans }}</a>
            </p>
        </div>
    </section>
{% endblock %}
