{% trans_default_domain 'App' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ 'website.membres'|trans }}{% endblock %}
{% block body %}
<div class="column row">
    {% if chef is defined and chef is not null %}
    <h2>{{ chef.firstname }} {{ chef.lastname }}{{ 'website.chef'|trans }}</h2>
    <div class="chef">
    {{ styled_image(chef.picture, 'project_square') }}
    </div>
    {% endif %}
    <h2>{{ 'website.choristes'|trans }}</h2>
    <div class="row">
    {% for member in members %}
        <div class="small-6 medium-4 large-3 columns end">
            <h3>{{ member.firstname }}</h3>
            <div>{{ styled_image(member.picture, 'project_square') }}</div>
            <div class="voice">{{ ('website.'~member.voice)|trans }}</div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}