{% trans_default_domain 'App' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ 'website.photos'|trans }}{% endblock %}
{% block body %}
    <div class="column row photos-page">
        <h1>{{ 'website.photos'|trans }}</h1>
        <div class="row">
        {% for gallery in galleries %}
            {% if gallery.pictures|length %}
            <div class="small-12 medium-4 large-3 columns end spacedown">
                <a href="{{ path('gallery', {'slug': gallery.slug}) }}">
                    <h2>{{ gallery.title }}</h2>
                    <div class="galleryfront">
                        <img class="imageframe" src="{{ asset('images/gallery-frame.png') }}" alt="" />
                        {% if gallery.pictures[0] is defined %}
                            {{ class_styled_image(gallery.pictures[0], 'project_thumb', 'galleryfront') }}
                        {% endif %}
                    </div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}