{% trans_default_domain 'Front' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ 'website.photos'|trans }}{% endblock %}
{% block description %}{{ 'website.photos-intro'|trans|striptags|truncate(150, true) }}{% endblock %}
{% block opengraph %}
<meta property="og:title" content="{{ 'website.photos'|trans }}" />
<meta name="og:description" content="{{ 'website.photos-intro'|trans|striptags|truncate(150, true) }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ absolute_url(path('photos')) }}" />
<meta property="og:image" content="{{ absolute_url(asset('images/og-default.jpg')) }}" />
{% endblock %}
{% block body %}
    <div class="column row photos-page">
        <h1>{{ 'website.photos'|trans }}</h1>
        <p>{{ 'website.photos-intro'|trans|raw }}</p>
        <div class="row">
        {% for gallery in galleries %}
            {% if gallery.pictures|length %}
            <div class="small-12 medium-4 large-3 columns end spacedown">
                <a href="{{ path('gallery', {'slug': gallery.slug}) }}">
                    <h2>{{ gallery.title }}</h2>
                    <div class="galleryfront">
                        <img class="imageframe" src="{{ asset('images/gallery-frame.png') }}" alt="" />
                        {% if gallery.pictures[0] is defined %}
                            {{ class_styled_image(gallery.pictures[0], 'project_thumb', 'galleryfront') }}
                        {% endif %}
                    </div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}