{% trans_default_domain 'App' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ 'website.repertoire'|trans }}{% endblock %}
{% block body %}
    <div class="column row">
        <h1>{{ 'website.repertoire'|trans }}</h1>
    {% for song in repertoire %}
        <div class="small-3 columns end">
            <h3>{{ song.title }}</h3>
            <p>{{ song.description }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}