{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/backend_styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/dropzone.min.css') }}"/>
{% endblock %}
{% block body %}
    <h1></h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'dropzone', 'id': 'mydropzone'}}) }}
        <div class="fallback">
            {{ form_row(form.file) }}
        </div>
    {{ form_end(form) }}
    <script src="{{ asset('js/dropzone.min.js') }}"></script>
    <script type="text/javascript">
        Dropzone.options.mydropzone = {
            paramName: "form[file]",
            dictDefaultMessage: "Déposez les images ici"  
        };
    </script>
{% endblock %}