{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}{{'general.administration'|trans}} | {{'general.add'|trans}} {{'events.event'|trans}}{% endblock %}
{% block body %}
    <h1>{{'general.add'|trans}} {{'events.event'|trans}}</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.date) }}
        {{ form_row(form.description) }}
        {{ form_row(form.season) }}
        {{ form_row(form.gallery) }}
        <fieldset>
            <legend>{{ form_label(form.picture) }}</legend>
            <div class="form-group">
                {{ form_row(form.picture.alt) }}
                {{ form_row(form.picture.title) }}
                
                <div class="form-inline">
                    <div class="form-group">
                        {{ form_label(form.picture.file) }}
                        {{ form_errors(form.picture.file) }}
                        {{ form_widget(form.picture.file) }}
                    </div>
                    {% if form.picture.add_image is defined %}
                    <div class="form-group">
                     {{ form_widget(form.picture.add_image, {'attr': {'class': 'btn btn-sm'}}) }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </fieldset>
        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}