{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% block title %}{{ 'general.administration'|trans}} | {{ 'users.users'|trans}}{% endblock %}
{% block body %}
    <h1>{{ 'users.users'|trans}}</h1>
    <div class="section">
        <a class="btn btn-primary" href="{{ path('user_new') }}">{{ 'users.create'|trans}} <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
    <table class="table listtable">
        <tr>
            <th>{{ 'users.name'|trans}}</th>
            <th>{{ 'users.email'|trans}}</th>
            <th></th>
            <th></th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td><a class="btn btn-primary btn-xs" href="{{ path('user_edit', {'user_id':user.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ 'general.edit'|trans}}</a></td>
            <td>{% if 'ROLE_SUPER_ADMIN' not in user.roles %}<a class="btn btn-danger btn-xs deletelink" href="{{ path('user_delete', {'user_id':user.id}) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{ 'general.delete'|trans}}</a>{% else %}<a href="#" class="btn btn-danger btn-xs disabled" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{ 'general.delete'|trans}}</a>{% endif %}</td>
        </tr>
    {% endfor %}
    </table>
    <script>
        jQuery(document).ready(function(){
            $('.deletelink').each(function(){
                $(this).on('click', function(e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    $.confirm({
                        title: '{{ 'general.deleteentity'|trans }}',
                        content: '{{ 'general.deleteentityconfirm'|trans }}',
                        buttons: {
                            confirm: {
                                text : '{{ 'general.confirm'|trans }}',
                                action: function(){
                                    window.location = url;
                                }
                            },
                            cancel: {
                                text : '{{ 'general.cancel'|trans }}'                         
                            }
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}